<!-- <app-carousel-model>
 </app-carousel-model> -->


<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Heróis</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Herói</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" *ngIf="(heros$ | async) as heros; else loadingError">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Grupo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of heros">
            <td>{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.grupo }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(item.id)">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(item)">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
<!--   
      <ng-template #loading>
        <span>Carregando Cursos...</span>
      </ng-template> -->
  
      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar cursos. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Cursos...</span>
        </ng-template>
      </ng-template>
    </div>
  </div>
  
  <!-- <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse curso?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template> -->

  <!-- <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse herói?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()" >Não</button>
    </div>
  </ng-template> -->
